/* Should be applied to each html
### START ###
Global Styles */
* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: #fff8f0;
}

/* FLEXBOX SETTINGS
Overall flex container with smaller boxes inside */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: inherit;
    margin: 30px;
    font-family: sans-serif;
}
/* will flex to the left instead */
.flex-item-left {
    flex: 25%;
}
/* flex-container-right will flex to the right */
.flex-item-right {
    flex: 75%;
}

/* Default button style */
.button {
    color: #fff8f0;
    font-size: 2vh;
    background: #002642;
    border: none;
    border-radius: 30px;
    padding: 15px;
    transition: all 0.4s ease-in-out;
    margin: 25px;
    cursor: pointer;
}
.button:hover {
    background: #918868;
    color: #002642;
}

/* small footnote */
.footer {
    background: #002642;
    color: #fff8f0;
    text-align: center;
    line-height: 30px;
}

/* Top bar */
.logbar {
    display: flex;
    justify-content: end;
    align-items: end;
    background: #002642;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
}
.logbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.logbar ul li {
    padding-right: 30px;
}
.logbar ul li a {
    text-decoration: none;
    color: #fff8f0;
    font-size: 1.5vh;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.logbar ul li a::before {
    content: attr(transition);
    transform: 0.2s;
    color: #F9627D;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
.logbar ul li a:hover::before {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

/* Second (main) bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #918868;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar ul li {
    padding: 0px 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff8f0;
    font-size: 2vh;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.navbar ul li a::before {
    content: attr(transition);
    transition: 0.2s;
    color: #F9627D;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
.navbar ul li a:hover::before {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.labels {
    color: #002642;
    font-size: 2vh;
    font-weight: bold;
}

.inputs {
    color: #002642;
    border: 1px solid #918868;
    width: 95%;
    min-width: 400px;
    padding: 12px;
    border-radius: 5px;
    resize: none;
    background: #fff8f0;
    margin-top: 10px;
}

.error {
    color: #F9627D;
    font-size: 1.5vh;
}
#submit {
    display: flex;
    flex: 50%;
}

/* title page color and styling */
h1 {
    color: #5F7470;
    font-size: 4vh;
    margin: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* sub-title styling */
h2 {
    color: #F9627D;
    font-size: 3.5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Para styling */
p {
    color: #002642;
    font-size: 1.5vh;
    font-weight: bold;
    margin-left: 20px;
}

.span {
    color: #002642;
    font-size: 2vh;
    font-weight: bold;
}

/* Mobile responsive weblayout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}
/* Makes a one column layout instead of a two-column layout
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
}
End of Default Styling
### END ### */

.outer {
    background: #CDDDDD;
    margin: 30px;
    padding-top: 10px;
}

#delBtn {
    font-size: 1vh;
    background: #F9627D;
    margin: 0;
}
#delBtn:hover {
    color: #fff8f0;
    background: #F9627D80;
}


#del-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#warn {
    margin-left: 20px;
}

#notify {
    color: #002642;
    background: #F9627D;
    font-size: 1.5vh;
}

.table {
    color: #002642;
    font-size: 2.5vh;
    padding: 25px;
    width: 100%;
    text-align: left;
}
th {
    color: #918868;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
td {
    background: #CDDDDD;
    font-size: 2vh;
    padding: 40px;
    text-align: left;
}

button[name="delBtn"] {
    font-size: 2vh;
    background: #F9627D;
    margin: 0;
}
button[name="delBtn"]:hover {
    color: #fff8f0;
    background: #F9627D80;
}

a {
    text-decoration: none;
}