/* Should be applied to each html
### START ###
Global Styles */
* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: #fff8f0;
}

/* FLEXBOX SETTINGS
Overall flex container with smaller boxes inside */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: inherit;
    margin: 30px;
    font-family: sans-serif;
}
/* will flex to the left instead */
.flex-item-left {
    display: flex;
    justify-content: flex-end;
    flex: 50%;
    padding-right: 20px;
}
/* flex-container-right will flex to the right */
.flex-item-right {
    flex: 50%;
}

/* Default button style */
.button {
    color: #fff8f0;
    font-size: 1.8vh;
    background: #002642;
    border: none;
    border-radius: 30px;
    padding: 15px;
    transition: all 0.4s ease-in-out;
    margin: 15px 20px 0 0;
    cursor: pointer;
}
.button:hover {
    background: #918868;
    color: #002642;
}

/* small footnote */
.footer {
    background: #002642;
    color: #fff8f0;
    text-align: center;
    line-height: 30px;
}

/* Top bar */
.logbar {
    display: flex;
    justify-content: end;
    align-items: end;
    background: #002642;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
}
.logbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.logbar ul li {
    padding-right: 30px;
}
.logbar ul li a {
    text-decoration: none;
    color: #fff8f0;
    font-size: 1.5vh;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.logbar ul li a::before {
    content: attr(transition);
    transform: 0.2s;
    color: #F9627D;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
.logbar ul li a:hover::before {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

/* Second (main) bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #918868;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar ul li {
    padding: 0px 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff8f0;
    font-size: 2vh;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.navbar ul li a::before {
    content: attr(transition);
    transition: 0.2s;
    color: #F9627D;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
.navbar ul li a:hover::before {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.labels {
    color: #F9627D;
    font-size: 2vh;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.inputs {
    color: #002642;
    border: 1px solid #918868;
    padding: 12px;
    border-radius: 5px;
    background:#CDDDDD;
    ;
    margin-top: 10px;
}

.error {
    color: #F9627D;
    font-size: 1.5vh;
}

/* Mobile responsive weblayout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}
/* Makes a one column layout instead of a two-column layout
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
}
End of Default Styling
### END ### */

img {
    width: 500px;
    height: 300px;
}

a {
    text-decoration: none;
}

#msg {
    color: #002642;
    background: #F9627D;
    font-size: 1.5vh;
}

#passReset {
    font-size: 1.5vh;
    background: #F9627D;
}
#passRest:hover {
    color: #fff8f0;
    background: #F9627D80;
}

/* screen gets smaller than that adjust these settings for submit button */
@media only screen and (max-width: 800px) {
    #forgot {
        margin: 15px 40px 0 0;
    }
}